*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock

iosApp/Podfile.lock
iosApp/Pods/*
iosApp/MyRating.xcworkspace/*
iosApp/MyRating.xcodeproj/*
!iosApp/MyRating.xcodeproj/project.pbxproj
shared/shared.podspec
